* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
body > *,
.content > * {
  border: 1px solid black;
}
header {
  padding: 1rem 2rem;
  background-color: yellow;
}
footer {
  background-color: purple;
  padding: 1rem 2rem;
}
.content {
  display: flex;
}
.left-side {
  padding: 1rem;
  background-color: red;
  flex: 1;
  order: 0;
}
.center {
  padding: 1rem;
  background-color: green;
  flex: 3;
  order: 1;
}
.right-side {
  padding: 1rem;
  background-color: blue;
  flex: 1;
  order: 2;
}
