* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body > *,
.content > * {
  border: 1px solid black;
}
body {
  padding: 1rem 2rem;
  display: grid;
  grid-template-rows: 4rem 50rem 4rem;
}
.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
header,
footer {
  text-align: center;
}
